.background{
    margin: auto;
    background-color: #54575b;
    font-size: 2.5em;
    color: #ffff;
    text-align: center;
    background-image: url("https://media.glassdoor.com/l/7a/38/ed/dc/nfl-field-logo.jpg")
  }
  .wrapper{
      color: orange;
      font-style: bold;
      font-size: 25pt;
      text-align: center;
  }

  section {
    font-size:0.9em;
  }
  /* .logo {
    padding: 300px;
    background-color: red;
    background: linear-gradient(0deg, #54575b, transparent 5%),
               
  } */